asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
distlib==0.3.8
Django==5.0
django-crispy-forms==1.14.0
filelock==3.13.1
idna==3.6
mysql-connector-python==8.2.0
platformdirs==3.11.0
protobuf==4.21.12
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.1.0
virtualenv==20.24.5
