{% extends 'webapp/base.html' %} {% block content %}
<div class="container bg-light shadow-md p-5 form-layout">
  <h2>Create new Community Engagement Record</h2>
  <hr />
  <br />
  <form method="POST" autocomplete="off">
    {% csrf_token %}
    <br />
    Current Experienc {{ form2.participation }}
    <br />
    Organization Name: {{ form2.organization_name }}
    <br />
    Activity Name: {{ form2.activity_name }}
    <br />
    Role: {{ form2.role }}
    <br />
    <button type="submit" class="btn btn-primary">
      Submit Change &nbsp; <i class="fa fa-check" aria-hidden="true"></i>
    </button>
    &nbsp;
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">
      Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
  </form>
</div>
{% endblock %}
