{% extends 'webapp/base.html' %} {% block content %}
<body>
  <br />
  <br />

  <div class="text-center">
    <h1>Student Support System</h1>
  </div>
  This is home page
  <a href="{% url 'dashboard' %}">dashboard</a>
  <!-- <p style="text-align: left">
    <a href="../backend/displayItem.js">Display Clients</a> <br /><br />
  </p>
  <a href="./insertItem.html">Insert Client</a> <br /><br />
  <a href="./updateItem.html">Update Client</a> <br /><br />
  <a href="./deleteItem.html">Delete Client</a> <br /><br /> -->

  <!-- <a class="btn btn-primary" type="button" href="">Insert Client</a> -->
</body>
{% endblock %}
