{% extends 'webapp/base.html' %} {% block content %}
<body class="bodybg">
  <div class="d-flex flex-column justify-content-center w-100 h-100">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="fw-light text-white m-0">
        <strong>Student Support System Database</strong>
      </h1>
      <br />
      <br />
      <div class="btn-group my-5">
        <a
          href="{% url 'dashboard' %}"
          class="btn btn-outline-light"
          aria-current="page"
          ><i class="fas fa-file-download me-2"></i> STUDENT INFORMATION
        </a>
        <a href="{% url 'ceTable' %}" class="btn btn-outline-light"
          >COMMUNITY ENGAGEMENT <i class="fas fa-expand ms-2"></i
        ></a>
      </div>
      <a href="https://manuel.pinto.dev" class="text-decoration-none">
        <h5 class="fw-light text-white m-0">
          <strong>— By: Dan Lin —</strong>
        </h5>
      </a>
    </div>
  </div>
</body>
<hr />
<footer class="text-center">
  COPYRIGHT ©
  <br />
  <br />
  December 2023
  <br />
  <br />
  <br />
</footer>

{% endblock %}
