<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url '' %}">Student Support System</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}"
            >Student Information</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ceTable' %}"
            >Community Engagement</a
          >
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Community Engagement
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'createCE' %}">Create</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url '' %}">Update</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url '' %}">Delete</a>
            </li>
          </ul>
        </li> -->
      </ul>
      <li class="d-flex">
        <strong><i>CIS 395 Final Project </i></strong>
      </li>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Prof.Benkarroum"
          aria-label="Search"
        />
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
