{% extends 'webapp/base.html' %} {% block content %}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container text-center">
  <div class="card carddiv">
    <div class="card-body">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

      <br />
      <strong>Student:</strong> Student1
      <br />
      <strong>Current Experience:</strong> Yes
      <br />
      <strong>Organization Name:</strong> Borough of Manhatttan Community
      College
      <br />
      <strong>Activity Name:</strong> 2023 Fall Regular Course
      <br />
      <strong>Role:</strong> Teaching Assistant
      <br />
      &nbsp;
    </div>

    <br />

    <a href="{% url 'ceTable' %}" class="btn btn-secondary">
      Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
  </div>
</div>
{% endblock %}
